/Guessing-game/obj
/Guessing-game/bin
Guessing-game.csproj

/Rock-Paper-Scissors/obj
/Rock-Paper-Scissors/bin
Rock-Paper-Scissors.csproj

/Dice-Game/obj
/Dice-Game/bin
Dice-Game.csproj

/Calculator/obj
/Calculator/bin
Calculator.csproj

/ATM-app/obj
/ATM-app/bin
ATM-app.csproj

/Note-app/obj
/Note-app/bin
Note-app.csproj